
element.style{
    background-image: url("..\images\dallas.jpg");
}
.intro {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #111;
    min-height: 600px;
    padding: 0;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-attachment: fixed;
}

services {
    background-color: blue;
}
  